@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
*{
    margin:0;
    padding:0;
}
/*-----------Navigation----------*/
#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-brand img {
    height: 40px;
    padding-left: 30px;
}
.navbar-nav li{
    padding:0 10px;
}
.navbar-nav li a{
    float: right;
    text-align: left;
    font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;
    font-weight: bold;
}
.nav-link{
    color:  #e7ebf0!important;     
}
#nav-bar ul li a:hover{
    color: #daf109!important;    
}
.navbar
{
    background:#132511!important;   ;
}
.navbar-togler{
    border: none!important;
    color: #007bff!important;
}
#slider{
    width:100%;  
}
.carousel-caption{
    top: 50%;
    transition: translateY(-50%);
    bottom: initial!important;
}
.carousel-caption h5{
    color: #fff;
    font-size: 42px;
}
/*----------------------- About -----------------*/
#about {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}
#about .btn {
    margin-top:20px;
    margin-bottom:30px;    
}
.about-content {
    padding-top:20px;
    text-align:jVoir
    border-radius: 16px;
}
.progress
{
    border-radius: 16px !important;
    margin-bottom: 16px;
}
/*----------- Services -------- */
#services {
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),
    url(img/index4.jpeg);
    background-size: cover;
    background-position:center;
    color:#efefef;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}
#services h1{
    text-align: center;
    color:#efefef !important;
    padding-bottom: 10px;
}
#services h1::after{
    content: '';
    background:#efefef;
    display: block;
    height: 3px;
    width:220px;
    margin: 20px auto 5px;
}
.services{
    margin-top: 40px;
}
.icon{
    font-size:30px;
    margin: 15px auto;
    padding:15px;
    height: 80px;
    width:80px;
    border: 1px solid #fff;
    border-radius:50%;
}
#services p{
    font-size: 15px;
    margin-top: 20px;
    color: #ccc;
}
.services .col-md-3:hover{
    background: #007bff;
    cursor: pointer;
    transition: 0.8s;
}
/*----------- Our Team -------- */
#team {
    padding-top: 50px;
    padding-bottom:50px;
    color: #555;
}
h1{
    text-align:center;
    color: #555 !important;
    padding-bottom: 10px;
}
h1::after{
    content:'';
    background: #007bff;
    display: block;
    height: 3px;
    width: 220px;
    margin: 20px auto 5px;
}
.img-recherches{
    border-top-left-radius: 100% 100%;
    border-top-right-radius: 100% 100%;
    border-bottom-right-radius: 100% 100%;
    border-bottom-left-radius: 100% 100%;
    width:280px;
    height:280px;
}
.profile-pic{
    margin-top: 25px;
}
.profile-pic .img-box{
    opacity: 1;
    display:block;
    position: relative;
}
.profile-pic .img-box img{
    filter: grayscale(1);
}
.profile-pic .img-box img:hover{
    filter: grayscale(0);
    cursor: pointer;
}
.profile-pic  h2{
    font-size: 20px;
    font-weight: bold;
    margin-top: 14px;
    color: #26b3b8 !important;
}
.profile-pic  h5{
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    color: #0d2544 !important;
}
#team .family{
    height: 30px;
    width:30px;
    color: #26b3b8 !important;
    background: #fff;
    padding:4px;
    border-radius: 50%;
}
.img-box ul{
    padding :15px;
    position: absolute;
    z-index: 2;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}
.img-box ul li{
    padding :5px;
    display: inline-block;
}
.img-box:hover ul{
    opacity: 1;
}
.img-box ul .img-box ul li{
    transform:0.5s;
}
/*-----------------------Promo---------------------------------- */
#prom{
    background-image: linear-gradient(rgb(0,0,0,0.6)
    ,rgba(0,0,0,0.6)),
    url(img/nature.png);
    background-size: cover;
    background-position: center;
    color: #fff !important;
    background-attachment: fixed;
    text-align: center;
    padding: 100px;
    font-family: sans-serif;
    font-size :38px;
}

/*----------- Get in Touch -------- */
#contact {
    background: #efefef;
    padding: 40px;
    padding-bottom:40px;
    color: #777;
}
.contact-form {
    padding: 15px;
}
.form-control {
    border-radius: 0!important;
    border: none;
}
::placeholder {
    color: #999 !important;
}
.follow {
   background:#fff;
   padding:10px;
   margin:15px; 
}
.contact-info .fa{
    margin: 10px;
    color: #007bff;
    font-weight: bold;
}
#footer {
    background:#333;
    padding:12px;
    color:#fff;
    
}
.fa-heart-o{
    margin:3px;
    font-size:16px;
    color:#007bff;    
}
.navbars {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 16px;
    border-radius: 0!important;
    background:#333;
}

.forms1{
    width: 50px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  /* When the input field gets focus, change its width to 100% */
  .forms1:focus {
    width: 20%;
  }